@page
@model WebShop.PurchasePageModel
@{
    ViewData["Title"] = "Приобретен товар " + @Model.product.Name;
}

<div class="product-image" style="background-image: url(@Model.product.PictureUrl); margin: 0 auto"></div>
<div class="pr-title" style="margin: 0 auto; text-align: center ">Благодарим за покупку игры @Model.product.Name, ваш ключ:</div>
<h1 style="margin: 0 auto; text-align: center ">@Model.key</h1>


@section Imports
{
    <link rel="stylesheet" href="~/css/product.css">
    <link rel="stylesheet" href="~/css/dropdown.css">
}

@section Page
{
    Приобретен товар
}

@section MyName
{
    @Model.GetUserName()
}